# Convex
CONVEX_DEPLOYMENT=
CONVEX_DEPLOY_KEY=
CONVEX_URL=
NEXT_PUBLIC_CONVEX_URL=

# WorkOS
NEXT_PUBLIC_WORKOS_REDIRECT_URI=
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=
WORKOS_REDIRECT_URI=

# OpenAI
OPENAI_API_KEY=

# Vercel (optional for OIDC)
VERCEL_OIDC_TOKEN=
